@charset "utf-8";
// @import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// pp colors

$pagape-black: rgb(63,63,64);
$pagape-red: rgb(251,86,86);
$pagape-blue: rgb(82,140,245);
$pagape-green: rgb(0,255,187);
$pagape-gray: rgb(228,228,228);
$family-sans-serif: "Poppins",sans-serif;
$primary: $pagape-red;
$link: $pagape-blue;
// $info: $cyan;
$success: $pagape-green;
// $warning: $yellow;
// $danger: $red;
$dark: $pagape-black;
$text: $pagape-black;
$tablet: 768px;
$desktop: 1200px;
$widescreen-enabled: false;
$fullhd-enabled: false;
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/aos/dist/aos.css";

// Import Component main Sass Filedsfsdf
// pp
html {
    scroll-behavior: smooth;
}

section.pp-blue {
    background-image: url("./images/background-blue.png");
    background-size: contain;
    background-position: center;
}

section.pp-grey {
    background-image: url("./images/background-grey.png");
    background-size: contain;
    background-position: center;
}

a.pp-nav-item {
    border-radius: 0px !important;
}

.pp-card {
    border-radius: 12px;
}

// pp box
.pp-box {
    display: flex;
    flex-flow: column;
    height: 100%;
    //
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #3f3f40;
    max-width: 100%;
    position: relative;
    padding: 0.75rem 1rem;
}

.pp-box.fade-background{
    background-color: rgba(255,255,255, 0.7);
    border-radius: 10px;
}

.pp-box.fixed-padding{
    padding: 0rem 0rem;
}

.pp-box.is-black{
    color: white;
    background-color: $pagape-black;
}

.pp-box.is-blue{
    color: white;
    background-color: rgba(82,140,245, 0.85)
}

.pp-box .pp-row.pp-header {
    flex: 0 1 auto;
}

.pp-content.blue-fixed-padding{
    background-color: $pagape-blue;
    border-radius: 12px;
    height: 400px;
    width: 100%;
}

.display-table{
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-middle{
    display: table-cell;
    vertical-align: middle;
}

.valign-middle{    
    vertical-align: middle;
}

.pp-header.fixed-padding, .pp-content.fixed-padding{
    padding: 0.75rem 1rem;
}

.pp-box .pp-row.pp-content {
    flex: 1 1 auto;
}

.pp-box .pp-row.pp-footer {
    flex: 0 1 40px;
}

//
.pp-home-mac {
    background-image: url("./images/home-mac-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.pp-home-phone {
    min-width: 175px;
    min-height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    //
    background-image: url("./images/home-phone-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    //
    animation-name: bounce_fountainG;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0.0s;
    //
}

.pp-home-phone-datetime {
    font-family: 'Open Sans', Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.25rem;
    margin-top: 3rem;
}

.pp-home-phone-datetime .pp-hour {
    font-size: 2.5rem;
    // font-weight: lighter;
}

.pp-home-phone-datetime .pp-day {
    font-size: .75rem;
}

// #pp-img-home-phone-1 {
//     background-image: url("./images/home-phone-1.png");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     // position: absolute;
//     animation-name: bounce_fountainG;
//     animation-duration: 3s;
//     animation-iteration-count: infinite;
//     animation-direction: normal;
//     animation-delay: 0.0s;
//     //
//     background-color: aqua;
//     font-family: Helvetica, sans-serif;
// }
@keyframes bounce_fountainG {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0);
    }
}

.pp-about-us-opacity {
    opacity: 1;
}

.pp-about-us-olympus-logo {
    max-width: 300px;
    margin: 0 auto;
}

.pp-contact-phone-image {
    max-width: 480px;
    margin: 0 auto;
}

.pp-img-grayscale {
    filter: grayscale(100%);
}

.pp-star-icon {
    color: orange;
}

.pp-star-icon-disabled {
    color: gray;
}

.footer{
    padding: 2rem 2rem !important;
}

.pp-footer-link {
    margin-top: 0rem;
}

.pp-footer-link>a {
    color: $pagape-gray;
    border-bottom: 2px solid transparent
}

.pp-footer-link>a:hover {
    border-bottom-color: #f2f4f8
}

.has-text-weight-lighter{
    font-weight: 200 !important;
}

.center-text{
    text-align: center;
}

.right-text{
    text-align: right;
}

.fixed-margin{
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}
.no-margin{
    margin-bottom: 0rem !important;
}

.blue-text{
    color: $pagape-blue;
}
.gray-text{
    color: rgb(150, 150, 150);
}
.white-text{
    color: white;
}

.fade {
	position: relative;
}

.front {
    background-color: $pagape-blue;    
    color: white;
    border-radius: 12px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
	width: 100%;
    height: 100%;
    padding: 0.75rem 1rem;
}

.front.white{
    background-color: white;
}

.back {
    border-radius: 12px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	opacity: 0.14;
	visibility: visible;
	background-color: $pagape-blue;
	z-index: 2;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.75rem 1rem;
}

.back.white{
    background-color: white;
}

.back.step1{
    background-image: url("./images/pro-step1-img1.png");
}
.back.step2{
    background-image: url("./images/pro-step2-img1.png");
}
.back.step3{
    background-image: url("./images/pro-step3-img1.png");
}
.fade:hover > .back {
	opacity: 1;
	visibility: visible;
}

.has-border-radius{
    border-radius: 12px 12px 0px 0px;
}

.line1 {
    line-height: 1;
}

.divider{
    background-position: center;
    background-image: url("./images/title-line.png");
    background-repeat: no-repeat;
    background-size: 100% 2px;
}
.steps{
    background-position: center;
    background-image: url("./images/steps.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.divider.white{
    background-image: url("./images/title-line-white.png");
}

.divider.gray{
    background-image: url("./images/faq-divider.png");
}

.fixed-text{
    font-size: 0.50rem;
}

.no-padding{
    padding-bottom: 0rem;
}


.popupcontainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 150; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  }

  .popupmodal{      
    width: 100%;
    height: 100%;
    position: relative;
    //position:fixed; 
    //top: calc(25% - 25px); // half of width
    
  }
  
  /* Modal Content */  
  
  /* The Close Button */
  .popupclose {
    color: #555;
    float: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .popupclose:hover,
  .popupclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  .accordion {
    cursor: pointer;
    padding: 10px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    // padding: 0 18px;
    // background-color: white;
    // max-height: 0;
    // overflow: hidden;
    // transition: max-height 0.2s ease-out;

  padding: 0 40px;
  display: none;
  overflow: hidden;
    box-shadow: none;
}

.panel:not(:last-child) {
    margin-bottom: 0rem; 
}